body 
{
    background: #ededed;
    color: black;
    font-size: 32px;
}

#nav-bar
{
    display: flex;
    justify-content: space-between;
    margin: 15px 30px;
}

#high-score-btn
{
    font-size: 32px;
    color: maroon;
    border: none;
}

#main
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px 15%;
    align-content: center;
    text-align: center;
}

.instructions
{
    margin: 5px 0;
    flex: 1 1 100%;
}

.questions
{
    font-size: 48px;
    font-weight: bold;
}

#A1, #A2, #A3, #A4
{
    background: maroon;
    color: white;
    margin: 20px 0;
    padding: 5px 20px;
    border-radius: 25px;
}

.buttonGeneral
{
    background: maroon;
    margin: 20px 0;
    padding: 5px 10px;
    color: #ededed;
    border: none;
    border-radius: 25px;
    font-size: 32px;
}

.submitInitialsDiv
{
    display: flex;
    flex-wrap: wrap;

}

#submitInitials
{
    font-size: 32px;
}